.nav
    background-color: #1c4e80
    width: 100vw
    position: relative
    height: 8vh
    display: flex
    justify-content: center
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
    h2
        color: white
        text-decoration: none
    img
        height: 5vh
        margin-left: 10px
    div
        margin-right: 10px
.nav-container
    width: 100%
    max-width: 1200px
    display: flex
    align-items: center
    justify-content: space-between

.container
    height: 92vh
    width: 100vw
    overflow: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    color: white
    display: flex
    align-items: center
    flex-direction: column